{% extends "base.html" %}
    {% block content %}
    <h1>{{ title }}</h1>
    {% if contacts %}
        <p>
            Будем рады ответить Вам по будням с 8:00 до 20:00 по киевскому времени (GMT+2),
            по выходным и праздникам — с 9:00 до 18:00, перерыв с 13:00 до 14:00.
        </p>
        <ul class="contact-list">
        {% for icon_class, protocol_prefix, contact in contacts %}
            <li>
                <i class="fa {{ icon_class }}" aria-hidden="true"></i>
                <a href="{{protocol_prefix}}{{contact}}">{{ contact }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}
