{% extends "base.html" %}
    {% block content %}
<h1>{{ title }}</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
<!--    <p><input type="text" name="title"></p>-->
<!--    <p><input type="email" name="email"></p>-->
<!--    <p><textarea name="content"></textarea></p>-->
    <p><button>Отправить</button></p>
</form>
{% endblock content %}
