/* Common */

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1 {
    margin: 20px 0;
}

.centered {
    text-align: center;
}

.centered img {
    margin: 2em auto;
}

/* End of common */

/* Header */

header {
    margin: 0 auto;
    padding: 7px;
    width: 95%;
    height: 42px;
    border-bottom: 1px solid #bbb;
}

header a {
    color: #b473c4;
}

header a:hover {
    color: #808080;
}

nav {
    line-height: 26px;
    font-size: 16px;
}

#main-menu {
    list-style: none;
    float: left;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav li a {
    font-weight: bold;
}

nav div.user-name {
    float:  right;
    cursor: default;
    padding-right: 8px;
}

.fa {
    margin-right: 0.3em;
}

/* End of header */

/* Main */

main {
    padding: 10px 60px;
}

/* End of main */

ul.contact-list {
    list-style-type: none;
    font-weight: 500;
}

ul.contact-list li {
    line-height: 1.7em;
}

ul.contact-list a {
    color: #333;
}

.grid-wrapper-50-50 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 50px;
}

.grid-wrapper-50-50 h2 {
    font-size: 1.2em;
    margin: 8px 0;
}

.grid-cell {
    margin: 0;
}

form.vertical label {
    display: block;
    width: 75px;
    margin: 8px 0 5px;
}

form ul.errorlist {
    background: #ffbcb8;
    padding: 10px;
    list-style-type: none;
    border: 1px solid #e6d2d1;
    width: 416px;
}