<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>{% block title %}{{ title }}{% endblock title %}</title>
</head>
<body>
<header>
    <nav>
        <a href="{% url 'index' %}">Телефонная книга</a>
        {% if user.is_staff %}
        <a href="/admin/phonebook/subscriber/">Редактировать справочник</a>
        {% endif %}
    </nav>
</header>
<main>
{% block main %}{% endblock main %}
</main>
</body>
</html>
