{% extends "phonebook/base.html" %}
{% block main %}
<h1>{{ title }}</h1>
<div class="subscriber-info">
    <div class="grid-wrapper">
        <div class="grid-header">Телефон:</div>
        <div class="grid-info">{{ subscriber.phone_number }}</div>
        <div class="grid-header">Дата рождения:</div>
        <div class="grid-info">{{ subscriber.birth_date|default:'Неизвестно' }}</div>
        <div class="grid-header">Комментарий:</div>
        <div class="grid-info">{{ subscriber.comment|default:'-' }}</div>
        <div><a href="/admin/phonebook/subscriber/{{ subscriber.id }}/change/">Редактировать</a></div>

    </div>
</div>
{% endblock main %}
