<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>{% block title %}{{ title }}{% endblock title %}</title>
</head>
<body>
<header>
</ul>
    <nav>
        <a href="{% url 'index' %}">Телефонная книга</a>
        {% if user.is_staff %}
        <a href="{% url 'subscriber_create' %}">Новый абонент</a>
        <a href="/admin/phonebook/subscriber/">Редактировать справочник</a>
        {% endif %}
    </nav>
</header>
<main>
    {% block messages %}
    <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
    {% endfor %}
    {% endblock messages %}
{% block main %}{% endblock main %}
</main>
</body>
</html>
