{% extends "phonebook/base.html" %}
{% block main %}
    <h1>{{ title }}</h1>
    <p>Всего абонентов: {{ subscriber_list.count|default:'0' }}</p>
    {% if subscriber_list %}
        {% for subscriber in subscriber_list %}
            <div class="subscriber-info">
                <h2>
                    <a href="{% url 'subscriber_detail' subscriber.id %}" class="subscriber-name">
                        {{ subscriber }}
                    </a>
                </h2>
                <div class="grid-wrapper">
                    <div class="grid-header">Телефон:</div>
                    <div class="grid-info">{{ subscriber.phone_number }}</div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock main %}
