{% extends "phonebook/base.html" %}
{% block main %}
<h1>{{ subscriber }}</h1>
<div class="subscriber-info">
    <div class="grid-wrapper">
        <div class="grid-header">Телефон:</div>
        <div class="grid-info">{{ subscriber.phone_number }}</div>
        <div class="grid-header">Дата рождения:</div>
        <div class="grid-info">{{ subscriber.birth_date|default:'Неизвестно' }}</div>
        <div class="grid-header">Комментарий:</div>
        <div class="grid-info">{{ subscriber.comment|default:'-'|linebreaksbr }}</div>
    </div>
    <form style="margin: 10px 0">
        <button class="btn btn-primary" formaction="{% url 'subscriber_update' subscriber.id %}">Редактировать</button>
        <button class="btn btn-danger" formaction="{% url 'subscriber_delete' subscriber.id %}">Удалить</button>
    </form>
</div>
{% endblock main %}
