{% extends "phonebook/base.html" %}
{% block main %}
<h1>Удаление абонента</h1>
<p>Вы действительно хотите удалить абонета {{ subscriber }}?</p>
<form method="post" action="">
{% csrf_token %}
{{ form }}
  <button class="btn btn-danger">Удалить</button>
  <button class="btn btn-primary" formmethod="get" formaction="{{ subscriber.get_absolute_url }}">Отмена</button>
</form>
{% endblock main %}