{% extends "phonebook/base.html" %}
{% block main %}
<h1>Редактируем абонента "{{ subscriber }}"</h1>
<form method="post" action="">
  {% csrf_token %}
  {% if message %}
  <p>{{ message }}</p>
  {% endif %}
  {{ form.as_p }}
  <button class="btn btn-primary">Сохранить</button>
</form>
{% endblock main %}