html, body, *:not(p) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.4em;
}

a {
    text-decoration: none;
    color: #0d6efd
}

a:hover {
    text-decoration: underline;
}

h2 {
    margin: 20px 0 4px;
    font-size: 22px;
}

header{
    padding: 10px 40px;
    background: #345;
}

header a {
    display: inline-block;
    margin-right: 15px;
    color: #eee;
}

main {
  padding: 20px 40px;
}

.subscriber-info {
    margin: 10px 0;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: 160px 1fr;
    grid-gap: 5px;
}

.grid-header {
    font-weight: bold;
}
