{% extends "base.html" %}
{% block title %}Статья блога - {{ object.title }}{% endblock title %}
    {% block content %}
    <h1>{{ object.title }}</h1>
    <p>{{ object.content|linebreaksbr }}</p>
    <a href="{% url 'blogpost_update' object.slug %}"><button class="btn btn-primary">Редактировать</button></a>
    <a href="{% url 'blogpost_delete' object.slug %}"><button class="btn btn-danger">Удалить</button></a>
{% endblock content %}