{% extends "base.html" %}
    {% block content %}

{% for object in objects %}
    <h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
    <p>{{ object.content }}</p>
{% endfor %}

{% endblock content %}