{% extends "base.html" %}
{% block title %}Статья блога - {{ object.title }}{% endblock title %}
    {% block content %}
    <h1>Удаление записи</h1>
    <p>Вы действительно хотите удалить запись {{ object.title }}?</p>

<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <p><button class="btn btn-danger">Удалить</button> <button class="btn btn-primary" formaction="{{ object.get_absolute_url }}" formmethod="get">Отмена</button></p>
</form>

{% endblock content %}