{% extends "base.html" %}
{% block title %}Статья блога - {{ object.title }}{% endblock title %}
    {% block content %}
    <h1>Редактирование поста</h1>
    <p>{{ object.content }}</p>
<form action="" method="post" class="vertical">
    {% csrf_token %}
    {{ form.as_p }}
    <p><button class="btn btn-primary">Сохранить</button></p>
</form>
{% endblock content %}